.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bodyContainer {
    /* padding: 40px; */
  
    width: 100%;
    height: 100%;
    /* flex: 1 1 auto; */
    display: flex;
    align-items: center;
    
    flex-direction: row;
    /* position: relative; */
    overflow-y: hidden;
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* justify-content: space-evenly; */
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
 
    align-items: center;
    width:95%;
    height: 100%;
    justify-content: flex-start;
    /* height: 100%; */
    /* padding-right: 50px; */

}
.topBar{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 10px;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    margin-top: 33px;
    margin-left: 33px;

}
.tabItem {
    cursor: pointer;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tabItem p {
    color: var(--main-lightgray2-color) ;
}

.tabItemNumber {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    /* display: flex; or inline-flex */
  /* align-items: center;  */
  /* justify-content: center; */
    background-color: var(--main-lightgray2-color) ;
    color : white;
    text-align: center;
}

.cust{
    border-left: 1px solid #EBEBEB;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.inner{
    width: 100%;
    height: 100%; 
    
    display: flex;
    flex-direction: column;
}

.form {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
  
    height: 100%;
    justify-content: flex-start;
}

.tabsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.inputWrapper {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    
}

.buttonWrapper {
    flex: 0 0 auto;
    width: 100%;
}

.previewWrapperDesktop {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 15px;
    width: 100%;
    height: 100%;
    /* height: 100%; */
    justify-content: center;
    /* padding-right: 50px; */
}

.previewWrapperMobile {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 55%;
    
    height: 80%;
    /* height: 100%; */
    justify-content: center;
    /* padding-right: 50px; */
}

@media only screen and (max-width : 800px) {
    .previewWrapper {
        /* display: none; */
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .bodyContainer {
        width: 96%;
        margin-left: 2%;
        margin-top: 0%;
        flex-direction: column;
        overflow-x: hidden;
    }

    .form {
        width: 100%;
    }
}