.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.errorText {
    color : var(--main-red-color)
}

.activeText {
    color : var(--main-green-color)
}
.successText {
    font-weight: 700;
}


.infoText {
    color : black
}

.starredText {
    color:#FF6F48

}