.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.errorText {
    color : var(--main-red-color)
}

.successText {
    color : var(--main-green-color)
}

.infoText {
    color : black
}

.starredText {
    color:#FF6F48

}