.root {
    display: flex;
    width: 80%;
    height: 90px;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-lightgray-color);
}