.root {
    display: flex;
    width: 70%;
    height: 70px;
    padding: 2%;
    border-radius: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-lightgray-color);
}