.root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.bodyContainer {
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
    overflow-y: auto;
}

.buttonsContainer {
    margin-top: 50px;
    width: 50%;
    /* left: 25%; */
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    width: 20%;
}

@media only screen and (max-width : 1000px) {
    .bodyContainer {
        width: 80%;
    }
}


@media only screen and (max-width : 600px) {
    .bodyContainer {
        width: 96%;
    }
}

