.dropwDownContent {
    display: none;
    position: relative;
    width: 180px;
    left: -90px;
    background-color: white;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    z-index: 1;
}

.dropDown {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.dropDownItem {
    width: 150px;
    /* margin: 10px; */
    padding: 15px;
    cursor: pointer;
    border-radius: 16px;
}

.dropDownItem:hover {
    background-color: var(--main-lightgray-color);
}

.dropDownItem p {
    font-size: 13px;
}

.dropDown:hover .dropwDownContent  {
    display: flex;
}