.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    font-size: 13px;
    font-weight: 700;
}

.imageInputContainer {
    width: 100%;
    height: 300px;
}

.contentImageContainer {
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.inputWrapper {
    flex: 1 1 auto;
    width: 100%;
    padding-left: 10%; 
     padding-right: 10%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    
}

.buttonWrapper {
    flex: 0 0 auto;
    width: 100%;
}