.input {
    flex-grow:1;
    outline: none;
    border-radius:10px;
    border:none;
    height:80%;
    font-size: 15px;
    font-weight : normal;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Muli;
    background-color: var(--main-lightgray-color);
    /* color : var(--main-lightgray2-color); */
}

.removeBorder {
    border: none !important;
}

.container {
    width : 100%;
    margin-bottom : 10px;
}

.secondContainer {
    width : 100%;
    color : rgba(112, 112, 112, .05);
    border: solid 1px;
    border-color: transparent;
    height: 100px;
    border-radius: 20px;
    align-items: center;
    background-color: var(--main-lightgray-color);
}

.secondContainer:hover {
    border-color: var(--main-blue-color);
}

.secondContainerActive {
    border-color : var(--main-blue-color)
}

.secondContainerError {
    border-color : var(--main-red-color);
}

.secondContainer textarea {
    background-color: transparent;
    resize: none;
}

.iconLeft {
    margin-left : 10px;
}

.iconRight {
    margin-right : 10px;
}

.label{
    padding-left: 5px;
    font-weight: bold;
}

.error {
    color: var(--main-red-color);
}