.root {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    /* left: 5vw; */
    /* right: 5vw; */
    /* top: 5vh; */
    /* width: 100%; */
    padding-left: 15%;
    padding-right: 15%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    height: 72px;
    /* box-sizing: border-box; */
    padding-top: 10px;
}

.subContainer {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbarLeftItems {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color : black
}

.navbarAccountType{
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color : black
}

.arStudioButton {
    width:140px;
    margin-left:24px;
}

.navbarLeftItems:hover *{
    color : var(--main-blue-color);
    fill: var(--main-blue-color);
}

.hamburgerMenuIcon {
    width : 24px;
    height : 24px;
}

.hamburgerMenuWrapper {
    display: none;
    cursor: pointer;
}

.hamburgerModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background-color: white;
    outline: none;
}

.hambergerModalOverlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-lightgray2-color);
    z-index: 3;   
}

.hamburgerMenuDivider {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--main-lightgray2-color);
    opacity: .5;
}

.hamburgerMenuItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hamburgerMenuItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburgerMenuItem:hover {
    color: var(--main-blue-color);
}


@media only screen and (max-width : 800px) {
    .root {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media only screen and (max-width : 500px) {
    .desktopItems {
        display: none;
    }

    .hamburgerMenuWrapper {
        display: block;
    }
}