.root {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    /* left: 5vw; */
    /* right: 5vw; */
    /* top: 5vh; */
    /* width: 100%; */
    padding-left: 15%;
    padding-right: 15%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    height: 72px;
    /* box-sizing: border-box; */
    padding-top: 10px;
}

.subContainer {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbarLeftItems {
    display: flex;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    color : black
}

.navbarLeftItems:hover *{
    color : var(--main-blue-color);
    fill: var(--main-blue-color);
}